.container {
    width:1170px;
    margin:0 auto;
    padding: 30px;
    background-color: #b8edff;
    font-size: 25px;
}
#content {
    border: dashed 2px #66d9ff;
    background-color: #99e6ff;
    margin-left: 50px;
    margin-right: 50px;
    padding:25px;
}
#group{
    border: dashed 2px #66d9ff;
    color: #0184e3;
    padding: 10px;
    margin-top:10px;
    height: 350px;
}
#search{
    font-size: 25px;
    width: 89% ;
    margin-bottom: 20px;
    border: solid 2px gray;
}
#dogButton{
    width: 45%;
    height: 70px;
    background-color: #005cbf;
    border-color: #005cbf;
    border-radius: 25px;
    float: left;
    margin-top: 15px;
}
#catButton{
    width: 45%;
    height: 70px;
    background-color: #005cbf;
    border-color: #005cbf;
    border-radius: 25px;
    float: right;
    margin-top: 15px;
}

.input #submit {
    font-size: 25px;
}
.item-content{
    overflow: scroll;
    max-height: 250px;
    height: 250px;
    border: dashed 2px #66d9ff;
    color: #0184e3;
    padding: 10px;

}
#sort img{
    width: 150px;
    height: 100px;
}
.Dog{
    width:50%;
    max-height:225px;
    height: 225px;
    overflow:scroll;
    float:left;
    border-radius: 5px;
    border: dashed 2px #66d9ff;
    color: #0184e3;
    padding: 15px;
    margin-top: 15px;
}
.Dog img{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.Dog img:hover{
    opacity: 0.7;
}
.Cat{
    width:50%;
    overflow:scroll;
    max-height:225px;
    height: 225px;
    float:left;
    border-radius: 5px;
    border: dashed 2px #66d9ff;
    color: #0184e3;
    padding: 15px;
    margin-top: 15px;
}
.Cat img{
    width: 100px;
    height: 50px;
    cursor: pointer;
}
.Cat img:hover{
    opacity: 0.7;
}
.item-content img {
    cursor: move;
}
.item-content img:hover {opacity: 0.7;}

